/* utility styles */
.btn {
  background: rgba($button-primary, 0.9);
  border: none;
  color: $button-text-primary;
  cursor: pointer;
	font-family: inherit;
	font-size: 1.8rem;
	min-width: 8rem;
  padding: 0.8rem;
  transition: background 0.5s ease-in-out;
	
	&:hover {
		background: $button-primary;
	}
}

.text-right {
	text-align: right !important;
}