$text-primary:        #7f7f7f;
$text-secondary:      #bfbfbf;
$border-primary:      #d9d9d9;
$outline-primary:     #527fa4;
$heading-primary:     #527fa4;
$overlay-primary:     #527fa4;
$dashboard-primary:   #f2f2f2;
$form-primary:        #f2f2f2;
$nav-primary:         #bf3939;
$button-primary:      #527fa4;
$button-text-primary: #d9d9d9;
$icon-primary:        #527fa4;
$icon-secondary:      #73c6d9;
$error-primary:       #bf3939;

$font-sans-serif: 'Barlow Condensed', sans-serif;
$font-serif: 'Cinzel', serif;

$width-small:   501px;
$width-medium:  769px;
$width-large:  1101px;